.top-head{
	background: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	.banner-top{
		padding-right:0px;
	}
	.banner-top a img{
		float:right;
	}
}
.mid-head{
	background-image: url("../images/bg-menu.jpg");
	background-repeat: no-repeat;
	height: 47px;
	width: 1367px;
	margin: 0px auto;
	.hotline-top{
		span{
			float:right;
			height:47px;
			line-height:47px;
			color:#fff;
		}
		p{
			color:#fff;
			float:right;
			height:47px;
			line-height:47px;
		    font-weight: bold;
		    margin-left: 5px;
		}
	}
	.menu-top{
		ul li{
			float: left;
			padding-right:30px;
			height:47px;
			line-height:47px;
			a{				
				color:#fff;
				text-transform: uppercase;
				font-family: Arial;
    			font-size: 18px;
				text-decoration:none;
			}
		}
	}
}
.bt-head{
	width: 1367px;
	margin-top: 10px;
	margin: 0px auto;
	height: auto;
}
.title-pro-content{
	width: 100%;
	height: 40px;
	background: #0077ab;
	float: left;
	text-align: center;
	h2{
     	text-transform: uppercase;
		height: 40px;
		line-height: 40px;
		color: #fff;
	}
}
.left-pro-content{
	width: 100%;
	float: left;
	height: auto;
	background: #ececec;
	.left-pro-iteam{
		width: 100%;
		height: auto;
		float: left;
		border-bottom: 1px solid #cfcfcf;
		padding-left: 20px;
		p{
			margin-top: 10px;
			margin-bottom: 10px;
			color: #f00;
			text-transform: uppercase;
			text-decoration: none;
		}
		ul li{
			color: #000;
			text-transform: capitalize;
			list-style-image: url('../images/bg-menu-left.jpg');
			a{
				text-decoration: none;
			}
		}
	}
}
.left-content-video{
	width: 100%;
	float: left;
	height: auto;
	margin:10px 0px;
	.title-new-left{
		width: 100%;
		height: 39px;
		float: left;
		margin-top: 10px;
		background: #0077ab;
		p{
			color: #fff;
			text-transform: uppercase;
			font-weight: bold;
			background-image: url(../images/bg-left-videp.png);
			padding-left: 30px;
			height: 39px;
			line-height: 39px;
			background-repeat: repeat-y;
		}
	}
	.left-main-video{
		width: 100%;
		height: 150px;
		float: left;
		margin-bottom: 20px;
	}
}
.left-content-commitment{
	width: 100%;
	height: auto;
	background: #df322c;
	float: left;
	margin-bottom: 20px;
	.left-commitment-t{
		width: 100%;
		height: 180px;
		float: left;
		background-image: url(../images/bg-commitment.jpg);
		background-repeat: no-repeat;
		.abc{
			color: #fff;
			padding: 10px 10px 10px 50px;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 5px;
		}
		ul li{
			padding: 0px;
			margin-left: 15px;
			list-style-image: url(../images/bg-ulli-left.png);
			a{
				color: #fff;
				text-decoration: none;
				font-size: 13px;
			}
		}
	}
	.left-commitment-b{
		width: 100%;
		height: 170px;
		float: left;
		img{
			width: 100%;
			height: 100%;
		}
	}
}
.left-content-partner{
	width: 100%;
	height: auto;
	float: left;
	background: #ececec;
	margin-bottom: 20px;
	.left-title-partner{
		color: #0077ab;
		border-bottom: 2px solid #84b1bf;
		margin-left: 20px;
		padding-top: 20px;
		text-transform: uppercase;
		font-weight: bold;
		margin-right: 20px;
	}
	.left-img-partner{
		width: 100%;
		height: auto;
		float: left;
		margin: 10px 0px;
		text-align: center;
	}
}
.main-content-mid{
	width: 603px;
    margin: 0px 10px;
    .main-product{
    	width: 100%;
    	height: auto;
    	float: left;
    	.title-main-product{
    		width: 100%;
    		float: left;
    		height: 39px;
    		background-image: url(../images/bg-main-pro02.jpg);
    		p{
    			height: 40px;
    			line-height: 40px;
    			padding-left: 20px;
    			color: #fff;
    			text-transform: uppercase;
    			background-image: url(../images/bg-title-content.jpg);
    			background-repeat: no-repeat;
    		}
    	}
    	.iteam-main-pro{
    		width: 33.33%;
    		float: left;
    		height: auto;
    		margin: 20px 0px;
    		.iteam-pro-img{
    			width: 100%;
    			float: left;
    			height: 200px;
    			text-align: center;
			 	position: relative;
    			img{
    				width: 80%;
    				margin-top: 20px;
    				position: relative;
    				z-index: 20;
    			}
    			.sale{
    				position: absolute;
				    top: -6px;
				    right: 0;
				    width: 68px;
				    height: 65px;
				    background-image: url(../images/bg-sale.png);
				    background-repeat: no-repeat;
				    z-index: 10;
				    p{
				    	margin-top: 10px;
				    	margin-bottom: 0px;
				    	color: #f00;
				    }
				    span{
				    	color: #f00;
				    }
				    .sale-number{
				    	font-size: 22px;
				    	font-weight: bold;
				    	margin-right: 2px;
				    }
    			}
    		}
    		.iteam-pro-info{
    			width: 100%;
    			height: 70px;
    			float: left;
    			a{
    				color: #2682b1;
    				margin-left: 10px;
    				text-decoration: none;
    			}
    			p{
    				margin-left: 10px;
    				color: #000;
    				margin-top: 10px;
    				margin-bottom: 5px;
    				font-size: 15px;
    				text-decoration: line-through;
    			}
    			span{
    				margin-left: 10px;
    				color: #f00;
    				font-size: 18px;
    			}
    		}
    	}
    }
}
.right-merit{
	width: 187px;
	padding: 0px;
}
.right-content-merit{
	width: 100%;
    float: left;
    height: 589px;
    background-image: url(../images/bg-right.jpg);
    background-position: 50% 0%;
	p{
		color: #fff;
		text-transform: uppercase;
		padding: 10px 0px 0px 10px;
		font-weight: bold;
		margin-bottom: 0px;
    }
    span{
    	color: #fff;
    	padding: 0px 0px 0px 10px;
    }
    .right-main-merit{
	    width: 92%;
	    height: 88%;
	    /* float: left; */
	    background: #ececec;
	    margin: 0px auto;
	    margin-top: 13px;
	    text-align: center;
	    .iteam-right-merit{
	    	width: 88%;
		    height: 29%;
		    float: left;
		    background: #fff;
		    margin: 10px;
	    }
    }
}
.right-main-new{
	width: 100%;
	height: auto;
	float: left;
	background: #ececec;
	.title-main-new-right{
		width: 100%;
		height: 39px;
		background: #0077ab;
		margin: 20px 0px;
		p{
			height: 39px;
			line-height: 39px;
			padding-left: 20px;
			color: #fff;
			text-transform: uppercase;
			background-image: url(../images/bg-left-videp.png);
			background-repeat: no-repeat;
		}
	}
	.iteam-main-new-right{
		width: 100%;
		height: auto;
		float: left;
		margin-bottom: 10px;
		img{
            width: 100%;
            height: 100%;
		}
		.link-new-right{
           color: #0077ab;
           text-decoration: none;
           margin-top: 10px;
           float: left;
           width: 100%;
           height: auto;
           padding-left: 10px
		}
	}
}
#footer{
	.top-footer{
		width: 1367px;
		background: #e3e1de;
		margin: 0px auto;
		.top-foote-l{
			margin: 40px 0px 40px 0px;
			border-right: 1px solid #d5d4d3;
			img{
				margin-top: -10px;
			}
			.top-foote-l-conten{
				width: 100%;
				height: auto;
				float: left;
				margin-top: 30px;
				ul li{
					padding-bottom: 10px;
					a{
						text-decoration: none;
						color: #6c6b6c;
					}
				}
			}
		}
		.top-foote-m{
			margin: 40px 0px 40px 0px;
			border-right: 1px solid #d5d4d3;
			p{
				color: #3988b2;
				text-transform: uppercase;
				font-weight: bold;
			}
			ul li{
				padding: 0px 0px 5px 0px;
				a{
					margin-left: 20px;
					text-decoration: none;
					color: #6c6b6c;
				}
			}
		}
		.top-foote-r{
			margin: 40px 0px 40px 0px;
			padding-left: 30px;
			.top-foote-r-title{
				color: #3988b2;
				text-transform: uppercase;
				font-weight: bold;
				float: left;
				width: 100%;
			}
			.top-foote-r-main{
				width: 50%;
				height: auto;
				float: left;
				.top-foote-r-iteam{
					margin-bottom: 10px;
					p{
						color: #f00;
						text-transform: uppercase;
						margin-bottom: 10px;
					}
					ul li{
						padding-top: 5px;
						list-style-image: url('../images/bg-menu-left.jpg');
						margin-left: 15px;
						a{
							color: #6c6b6c;
							text-decoration: none;
						}
						a:hover{
							color: #f00;
						}
					}
				}
			}
		}
	}
	.bot-footer{
		margin-top: 20px;
		ul li{
			float: left;
			padding-left: 10px;
			margin-top:10px;
		}
		ul {
			.social-face{
				background: url('../images/icon-face.png') no-repeat;
				width: 30px;
    			height: 30px;
    			padding-right: 10px;
			}
			.social-gg{
				background: url('../images/gg-icon.png') no-repeat;
				width: 30px;
    			height: 30px;
    			padding-right: 10px;
			}
			.social-pi{
				background: url('../images/pin-icon.png') no-repeat;
				width: 30px;
    			height: 30px;
    			padding-right: 10px;
			}
			.social-you{
				background: url('../images/you-icon.png') no-repeat;
				width: 30px;
    			height: 30px;
    			padding-right: 10px;
			}
		}
		.footer-left p{
			margin-bottom: 0px;
		}
	}
}